{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}



    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/src/Controller/IndexController.php</code></li>
        <li>Your template at <code>/var/www/html/templates/index/index.html.twig</code></li>
    </ul>

{% endblock %}
