{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="row my-2">
    <div class="col">
        <h5 class="bg-light text-info">Journaux publiés par vous</h5>
        {% include './dashboard/showArticles.html.twig' with { 'articles': articlesOwn} %}
    </div>
   {% if  app.user.role is same as ('Admin')  %} 
    <div class="col">
        <h5 class="bg-light text-warning">Journaux pour approbation</h5>
        {% include './dashboard/showArticles.html.twig' with  {'articles': articlesPending, 'approve': true } %}
    </div>
    {% endif %}
</div>



{% endblock %}
