<nav class="nav">
    <a class="nav-link" aria-current="page" href="/">Acceuil</a>

    <!-- <% if(isAuthenticated){ %> -->
        <a class="nav-link" href="#">Votre espace</a>
        <a class="nav-link" href="{{ path('app_article_new') }}">Ajout Article</a>

        <a class="nav-link" href="#">Deconnecter</a>
        <!-- <%} else { %> -->
            <a class="nav-link" href="#">Connecter</a>

            <!-- <% }%> -->


</nav>
<!-- <% if(isAuthenticated){ %> -->
<div class="container bg-light p-2 border rounded">
    <h5>Bonjour USERNOM</h5>
<h6>Votre role est <span class="text-primary">USER ROLE</span> </h6>
</div>
<!-- <% }%> -->