{% extends 'base.html.twig' %}

{% block title %}Hello FileUploadController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello </h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/src/Controller/FileUploadController.php</code></li>
        <li>Your template at <code>/var/www/html/templates/file_upload/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
